@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#nprogress .bar {
  background: linear-gradient(to right, #9333ea, #ec4899) !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #9333ea, 0 0 5px #ec4899 !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust the width */
  height: 8px; /* Adjust the height for horizontal scrollbars */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #9333ea; /* Dark gray thumb for the scrollbar */
  border-radius: 4px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7407da; /* Slightly lighter on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

@keyframes pulse-border {
  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(168, 85, 247, 0.4);
  }
  50% {
    box-shadow: 0 0 0 4px rgba(168, 85, 247, 0.4);
  }
}

.pulse-animation {
  animation: pulse-border 2s ease-in-out infinite;
}
